
  
    {% extends 'base.html' %}


{% block body %}
    <div style="background-color: rgb(133, 108, 224);" >  

      <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">
      <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">

      <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">
    
    <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">
    
    <h1 class="display-4 text-center ">Welcome!</h1>
    
    



    <h1 class=" display-6 text-center"> to</h1>

   


    <h1 class="display-4 text-center"> Food Tracker </h1>
    <p></p>
    <p></p>

    <div class="container text-left display-7 text-center border border-5 whtie" >
        <div class="row">
        <div class="col">
          <b> Our Misson statement:</b>
          <p>Our goal is to help you track what foods you've been eating recently to help you stay on top of your diet <p> </p></p>
        </div>
    </div>
    </div>
<br></br>
    <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">
    <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">

    <img src="/static/sloppyjoe.jpg" class="rounded float-end" width = "450" height="350" alt="...">
    <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">
    <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">
 

          
     
<p></p>
    




    
    


    

    {% endblock %}