{% extends 'base.html' %}

{% block body %}
<h1 style="font-size:70px" style="font-family:verdana">Welcome</h1>
<p></p>
<h2 style="font-family:verdana">We are here to help you with your health. This is a platform to track what you eat on a daily basis in order to help you make changes or continue what your doing.</h2>
<br></br>
<img src="/static/indianfood.jpg" class="rounded float-start" width = "400" hieght= "400" alt="...">
<img src="/static/caprese.jpg" class="rounded float-end" width = "350" hieght= "320" alt="...">
{% endblock %}
