<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}

<img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">
      <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">

      <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">
    
    <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">


<h1 class="display-4 text-center ">Overview</h1>
<p></p>
<div class="row">
    <div class="col-5 mx-5 my-5 border border-5">
        <h1 class="display-5 text-center">Background</h1>
        <p style="font-family:'Courier New'"> My initial research topic was how diet affects the health of people. This leads me to discover that a healthy diet protects you against many chronic noncommunicable diseases, such as heart disease, diabetes and cancer. Eating a variety of foods and consuming less salt, sugars and saturated and trans-fats, are essential for healthy diet.
        </p>
            <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">

            <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>


    <div class="col-5 me-5 mb-5 border border-5">
        <p></p>
        <h1 class="display-6 text-center">Danger of Poor Nutrition</h1>
        <p style="font-family:'Courier New'" >Eating a healthy diet, along with getting enough physical activity and sleep, can help children grow up healthy and prevent overweight and obesity. In the United States, 20% of young people aged 2 to 19 years and 42% of adults have obesity, which can put them at risk of heart disease, type 2 diabetes, and some cancers. Two of the leading causes of heart disease and stroke are high blood pressure and high blood cholesterol. Consuming too much sodium can increase blood pressure and the risk for heart disease and stroke.
        </p>
            <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">

            <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>


            <div class="container text-center border border-5 ">
                <h1 class="display-4 container text-center">Little 'bout Us</h1>
        <p style="font-family:'Courier New'">My name is Lucas Meynell. I am a senior in the Computer Science Academy and play soccer. I choose to make this website because as a student athlete and teenager, I am eating a lot and its easy to tell on the field when you have eaten well. I am inspired to make this app in order to help people track their progress.</p>
        <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">

        <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>

        
</div>

                


 



{% endblock %}