{% extends "base.html" %}

{% block body %}
        <h1>Food Form</h1>

        <form method=post>
            {{ form.hidden_tag() }}
            
            <p>
                {{ form.foodname.label }} <br>
                {{ form.foodname(size=6) }}
                <!--List the errors for this field-->
                {% for error in form.foodname.errors %}
                   <br> <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
        
            <p>
                {{ form.meal.label }} <br>
                {{ form.meal() }}
                <!--List the errors for this field-->
                {% for error in form.meal.errors %}
                   <br> <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.rating.label }} <br>
                {{ form.rating() }}
                <!--List the errors for this field-->
                {% for error in form.rating.errors %}
                   <br> <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.feel.label }} <br>
                {{ form.feel() }}
                <!--List the errors for this field-->
                {% for error in form.feel.errors %}
                   <br> <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.totalmeals.label }} <br>
                {{ form.totalmeals(size=3) }}
                <!--List the errors for this field-->
                {% for error in form.totalmeals.errors %}
                   <br> <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{form.submit()}}
            </p>
        </form>
        
{% endblock %}
