{% extends 'base.html' %}

{% block body %}

<div class="row">
    <div class="col-4">
        <h1 class="display-1">All Meals</h1>
    </div>
    <div class="col">
        <a href="/meal/new" class="btn btn-primary btn-sm mt-5" role="button">New Meal</a>
        
    </div>
</div>

{% if sleeps %}
    {% for sleep in sleeps %}
        <div class="row border-bottom">

        <div clas="col">
                <a data-toggle="tooltip" data-placement="top" title="Delete Meal" href="/sleep/delete/{{sleep.id}}">
                    <img width="20" class="bottom-image" src="/static/delete.png">
                </a>
                <a data-toggle="tooltip" data-placement="top" title="Edit Meal" href="/sleep/edit/{{sleep.id}}">
                    <img width="20" class="bottom-image" src="/static/edit.png">
                </a>
        </div>

            <div class="col-2">
                {% if loop.index == 1 %}
                <h3>Date</h3>
                {% endif %}

                <a href="/sleep/{{sleep.id}}">
                    {{moment(sleep.mealdate).format('MMMM Do YYYY')}}
                </a>
            </div>
            <div class="col-2">
                {% if loop.index == 1 %}
                <h3>Eater</h3>
                {% endif %}
                {{sleep.sleeper.fname}} {{sleep.sleeper.lname}}
            </div>
            <div class="col">
                {% if loop.index == 1 %}
                    <h3>Hours</h3>
                {% endif %}
                {{sleep.hours}}
            </div>
            <div class="col">
                {% if loop.index == 1 %}
                    <h3>Food</h3>
                {% endif %}
                {{sleep.foodname}}
            </div>
            <div class="col">
                {% if loop.index == 1 %}
                    <h3>Meal</h3>
                {% endif %}
                {{sleep.meal}}
            </div>
            <div class="col">
                {% if loop.index == 1 %}
                    <h3>Rating</h3>
                {% endif %}
                {{sleep.rating}}
            </div>
            <div class="col">
                {% if loop.index == 1 %}
                    <h3>Feel</h3>
                {% endif %}
                {{sleep.feel}}
            </div>
            <div class="col">
                {% if loop.index == 1 %}
                    <h3>Total Meals today</h3>
                {% endif %}
                {{sleep.totalmeals}}
            </div>
        </div>
    {% endfor %}
{% else %}
    <h1>No Meals</h1>
{% endif %}

{% endblock %}